@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;    
    text-decoration: none !important;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background: transparent;
    width: 8px;        
}
::-webkit-scrollbar-thumb{
    background: var(--bg-color);
    border-radius: 10px;
}
/* -------------------------------------------font-family */
.font-Plus {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

/* -------------------------------------------font-family */
/* -------------------------------------------padding */
.pl-12 {
    padding-left: 12px;
}

.pl-33 {
    padding-left: 33px;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pr-12 {
    padding-right: 12px;
}

.pt-6 {
    padding-top: 6px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-7 {
    padding-top: 7px;
}

.pt-19 {
    padding-top: 19px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-27 {
    padding-top: 27px;
}

.pt-36 {
    padding-top: 36px;
}

.pb-27 {
    padding-bottom: 27px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-51 {
    padding-top: 51px;
}

.pt-87 {
    padding-top: 87px;
}

.pt-58 {
    padding-top: 58px;
}

.pb-23 {
    padding-bottom: 23px;
}

.pt-56 {
    padding-top: 56px;
}

.pt-81 {
    padding-top: 81px;
}

.pb-46 {
    padding-bottom: 46px;
}

.pt-46 {
    padding-top: 46px;
}

.pt-71 {
    padding-top: 71px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-82 {
    padding-top: 82px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-28 {
    padding-bottom: 28px;
}

.pb-33 {
    padding-bottom: 33px;
}

.pb-42 {
    padding-bottom: 42px;
}

.pb-44 {
    padding-bottom: 44px;
}

.pb-76 {
    padding-bottom: 76px;
}

.pb-121 {
    padding-bottom: 121px;
}

/* -------------------------------------------padding */
/* -------------------------------------------margin */
.mt_1{
    margin-top: -1px;
}
.mt-9 {
    margin-top: 9px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

/* -------------------------------------------margin */
/* -------------------------------------------gap */
.gap-10 {
    gap: 10px;
}

.gap-11 {
    gap: 11px;
}

.gap-14 {
    gap: 14px;
}

.gap-17 {
    gap: 17px;
}

.gap-22 {
    gap: 22px;
}

.gap-23 {
    gap: 23px;
}

.gap-46 {
    gap: 46px;
}

.gap-51 {
    gap: 51px;
}

/* -------------------------------------------gap */
/* -------------------------------------------width */
.max-w-220{
    max-width: 220px;
}
.max-w-520 {
    max-width: 520px;
}

.max-w-620 {
    max-width: 620px;
}

.max-w-985 {
    max-width: 985px;
}

.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-1210 {
    max-width: 1210px;
}

.max-w-1312 {
    max-width: 1312px !important;
}

.max-w-1350 {
    max-width: 1350px;
}

/* -------------------------------------------width */
/* -------------------------------------------btn */
.btn-1 {
    padding: 13px 32px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border-radius: 40px;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, var(--sky)), var(--c2, var(--blue-200)) 60%, var(--c1, var(--white))) var(--x, 0)/ 550%;
    border: 1px solid var(--sky);
}

.btn-1:hover {
    --x: 100%;
    color: var(--blue-200) !important;
}

.btn-2 {
    padding: 13px 32px;
    background-image: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, var(--blue-200) 113.71%);
    border-radius: 40px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border: 1px solid var(--white-200);
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, transparent), var(--c2, transparent) 60%, var(--c1, var(--sky-100))) var(--x, 0)/ 550%;
}

.btn-2:hover {
    --x: 100%;
    color: var(--white) !important;
    border: 1px solid transparent;
}

/* -------------------------------------------btn */
/* -------------------------------------------card */
.card {
    background: var(--blue-100);
    border-radius: 15px;
    padding: 23px 20px 20px 21px;        
}

.card-contant {
    border-radius: 22px;
    border: 1px solid var(--blue-400);
    background: var(--black-100);
    padding: 12px 7px 6px 10px;        
}

.click-box {
    border: 1px dotted var(--blue-line);
    border-radius: 5px;
    padding: 9px 7px;
}

.select-box {
    background: linear-gradient(99.45deg, var(--blue-line) 0%, var(--blue-200) 100%);
    padding: 3px 15px;
    border-radius: 44px;
    outline: none;
}

.top-icon {    
    border-radius: 103px;
    width: 40px;
    height: 34px;
    border: 1px solid var(--blue-300);
    display: block;
    top: -17px;
    backdrop-filter: blur(10px);
    right: -20px;
}

.blue-tick {
    padding: 2.5px;
}

.bg-blue {
    background-color: var(--blue-line);
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

/* -------------------------------------------card */
/* -------------------------------------------ellipse */

.Ellipse347 {
    bottom: -20%;
    left: -10%;
}

.Ellipse351 {
    right: 0;
    top: -30%;
}

.Ellipse352 {
    left: 0;
    bottom: -30%;
}

.Ellipse3512 {
    right: 0;
    bottom: -40%;
}

.Ellipse354 {
    right: 0;
    bottom: -20%;
}

.Ellipse3542 {
    top: -10%;
    left: 20%;
}

.Ellipse355 {
    left: 0;
}

.Ellipse3523 {
    top: -35%;
    left: -20%;
}

.Ellipse356 {
    top: -50%;
}

.Ellipse3552 {
    left: -70%;
}

/* -------------------------------------------ellipse */
/* -------------------------------------------accordion */
    

.accordion-item {
    border: none !important;
    border-radius: 10px !important;
    background: rgba(3, 137, 255, 0.12) !important;
    backdrop-filter: blur(12.5px) !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.mh-550 {
    min-height: 260px;
}

.accordion-body {
    padding: 0 !important;
    padding-left: 27px !important;
    padding-bottom: 20px !important;
}


.tranlate-xy {
    transform: translate(14px, 24px);
}

.accordion-button {
    color: var(--white-smoke) !important;
    transition: all 500ms linear !important;
    padding: 22.5px 23.456px 23.5px 25.544px !important;
}

.accordion-button:not(.collapsed) {
    padding-bottom: var(--bs-accordion-active-padding-bottom) !important;
    transition: all 300ms linear !important;
    color: var(--blue-line) !important;
}

.accordion {
    --bs-accordion-bg: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-border-width: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-color: #0389ff !important;
    --bs-accordion-active-padding-bottom: 7px !important;
}

.accordion-button:focus {
    border-color: none !important;
}

.accordion-button::after {
    content: unset !important;
}



/* -------------------------------------------accordion */

/* -------------------------------------------preloder */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--sky);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--blue);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--white);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* -------------------------------------------preloder */

/* -------------------------------------------back-to-top */
#myBtn {
    background: linear-gradient(90deg, var(--c1, var(--sky)), var(--c2, var(--blue-200)) 60%, var(--c1, var(--white))) var(--x, 0)/ 550%;        
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: var(--fs-5xl);
    border: none;
    outline: none;            
    padding: 12px 15px;
    border-radius: 4px;
  }

/* -------------------------------------------back-to-top */
.cursor-pointer {
    cursor: pointer;
}

.nav-link {
    text-transform: uppercase;
}

.opacity-8 {
    opacity: 80%;
}

.opacity-7 {
    opacity: 70%;
}

.opacity-6 {
    opacity: 60%;
}

.hero-img {
    background-image: url(../images/webp/t61.webp);
    background-repeat: no-repeat;
    background-size: 100% 65%;
    background-position: top;
}

.bg-img {
    background-image: url(../images/webp/t61.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blut-line {
    width: 109px;
    height: 2px;
    background-color: var(--blue-line);
}

.snippets {
    top: 32%;
    left: -8%;
}

.snippets1 {
    bottom: 13%;
    left: -14%;
}

.snippets2 {
    bottom: -7%;
    right: 12%;
}

.snippets3 {
    bottom: 30%;
    right: -10%;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-8 {
    border-radius: 8px;
}

.blur-10 {
    backdrop-filter: blur(10px);
}

.duration-300 {
    transition: all 300ms linear !important;
}

.img-shadow {
    box-shadow: 0px 10px 100px 0px var(--black-shadow);
}

.box-1:hover {
    transform: scale(1.1);
}
.img-scale:hover{
    box-shadow: 0px 0px 10px 0.5px white;    
}
.img-scale:hover img{
    transform: scale(1.1);
}

.icon-box {
    height: 64px !important;
    max-width: 64px;
    background-color: var(--gray-500);
}

.box-3 {
    border-radius: 10px;
    padding: 13px 16px;
    background-color: var(--blue-100);
}

.min-box-3 {
    background-color: var(--blue-100);
    width: 51px;
    height: 51px;
}

.box-3:hover .min-box-3 {
    background-color: var(--white-smoke);
}

.box-3:hover h5 {
    color: var(--white-smoke);
    opacity: 1;
}

.right-border {
    border-right: 1px solid var(--gray-400);
}

.bottom-border {
    border-bottom: 1px solid var(--gray-400);
}

.h-170 {
    height: 170px;
}


.card-2:hover h5 { 
    color: var(--blue-line);
}

.outline-none {
    outline: none;     
}


.top-linear {
    background: linear-gradient(180deg, var(--bg-color) 0%, rgba(2, 13, 21, 0) 100%);
    height: 86px;
    top: 0;
}

.bottom-linear {
    background: linear-gradient(180deg, rgba(2, 13, 21, 0) 0%, var(--bg-color) 100%);
    height: 86px;
    bottom: 0;
}

.top-border {
    border-top: 1px solid var(--gray-300);
}

.media-icon {
    border: 1px solid var(--gray-200);
    width: 32px;
    height: 32px;
    padding: 12px !important;
}

.media-icon:hover {
    box-shadow: 0px 0px 10px 2px var(--white);
    background: var(--gray-200);
}

.media-icon:hover svg path {
    fill: var(--footer);
}

.media-icon svg path {
    transition: all 300ms linear;
}

.right-arrow {
    right: -2%;
    top: 35%;
}

/* ------------------------------------------slider-two */
.slider-box {
    border-radius: 20px;
    background-color: var(--blue-100);
    opacity: 50%;
}

.slider-two .slick-active .slider-box {
    opacity: 100%;
}

.slider-two .slick-slide {
    margin: 0 12px;
}

.slider-two .slick-list {
    margin: 0 -12px;
}

.slider-img {
    -webkit-filter: grayscale(1);
    -webkit-transition: all .2s ease-in-out;
}

.slider-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}   

.slider-two .slick-dots li.slick-active {
    background: var(--blue-line);
    width: 53px;
}

.slider-two .slick-dots li {
    margin: 5px;
    padding: 0;
    
    font-family: slick;
    font-size: var(--fs-7xl);
    width: 10px;
    height: 10px;
    content: '';
    background-color: var(--white-smoke);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}
.slick-dots li button:before {    
    content: '';   
}   
/* ------------------------------------------slider-two */
/* ------------------------------------------underline */
.underline::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: var(--white);
}

.underline:hover::after {
    width: 100%;    
}

/* ------------------------------------------underline */
/* ------------------------------------------navbar */
.hamburger {
    display: none;
}

.nav-boder {
    border-bottom: 1px solid var(--nav-border);
}

@media(max-width: 991.98px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(30px);
        width: 100%;
        height: 100vh;
        gap: 32px;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
    }
}

/* ------------------------------------------navbar */


@media (max-width: 574.98px) {
    .email-box {
        background-color: var(--gray-100) !important;
        border-radius: 29px;
    }

    .slider-box {
        padding: 20px;
        max-width: 300px !important;
    }
    #myBtn{
        bottom: 15px;
        right: 15px;
    }
}

@media (min-width: 575px) {
    .mx-22{
        margin: 0 22px;    
    }  
    .pb-sm-80 {
        padding-bottom: 80px !important;
    }

    .pt-sm-80 {
        padding-top: 80px !important;
    }

    .border-b-sm-0 {
        border-bottom: 0;
    }

    .border-r-sm-0 {
        border-right: 0;
    }

    .max-w-sm-162 {
        max-width: 162px !important;
    }

    .input-box {
        border-radius: 29px;
        background-color: var(--gray-100);
    }

    .slider-box {
        padding: 25px 30px;
        max-width: 500px !important;
    }
    .card {                           
        height: 228.68px;
    }
    
    .card-contant {                                
        height: 185.41px;
    }
   
}

@media (min-width: 768px) {
    .border-b-md-0 {
        border-bottom: 0;
    }

    .border-r-md-0 {
        border-right: 0;
    }

    .box-3 {
        max-width: 400px;
    }

    .slider-box {
        padding: 20px 40px 36px;
        max-width: 700px !important;
    }
   
}

@media (min-width: 992px) {
    .pb-lg-208 {
        padding-bottom: 208px !important;
    }

    .pt-lg-102 {
        padding-top: 102px !important;
    }

    .pt-lg-207 {
        padding-top: 207px !important;
    }

    .pt-lg-174 {
        padding-top: 174px !important;
    }

    .pb-lg-177 {
        padding-bottom: 177px !important;
    }

    .pb-lg-134 {
        padding-bottom: 134px !important;
    }

    .pb-lg-126 {
        padding-bottom: 126px !important;
    }

    .pt-lg-122 {
        padding-top: 122px !important;
    }

    .pt-lg-130 {
        padding-top: 130px !important;
    }

    .card {
        width: 231px;
    }

    .card-contant {
        width: 189.36px;
    }

    .border-b-lg-0 {
        border-bottom: 0 !important;
    }

    .border-r-lg-0 {
        border-right: 0 !important;
    }

    .slider-box {
        padding: 27px 56px 42px;
        max-width: 946px !important;
    }

    .mx-lg-110 {
        margin: 0 110px !important;
    }

    .pt-lg-110 {
        padding-top: 110px !important;
    }

    .pb-lg-95 {
        padding-bottom: 95px !important;
    }
}

@media (min-width: 1200px) {
    .translateX-80{
        transform: translateX(-80px);
    }
}
