@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
/* -------------------------------------------font-family */
.font-Plus{
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* -------------------------------------------font-family */
/* -------------------------------------------padding */
.pl-12{
    padding-left: 12px;
}
.pr-12{
    padding-right: 12px;
}
.pt-19{
    padding-top: 19px;
}
.pt-28{
    padding-top: 28px;
}
.pt-81{
    padding-top: 81px;
}
.pt-82{
    padding-top: 82px;
}
.pt-102{
    padding-top: 102px;
}
.pb-28{
    padding-bottom: 28px;
}
.pb-134{
    padding-bottom: 134px;
}
.pb-177{
    padding-bottom: 177px;
}
/* -------------------------------------------padding */
/* -------------------------------------------margin */
.mb-10{
    margin-bottom: 10px;
}
/* -------------------------------------------margin */
/* -------------------------------------------gap */
.gap-17{
    gap: 17px;
}
.gap-22{
    gap: 22px;
}
.gap-46{
    gap: 46px;
}
.gap-51{
    gap: 51px;
}
/* -------------------------------------------gap */
/* -------------------------------------------width */
.max-w-985{
    max-width: 985px;
}
.max-w-1140 {
    max-width: 1140px !important;
}
.max-w-1210{
    max-width: 1210px;
}
.max-w-1350{
    max-width: 1350px;
}
/* -------------------------------------------width */
/* -------------------------------------------btn */
.btn-1{
    padding: 13px 32px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
    background-image: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border-radius: 40px;
    border: 1px solid transparent;

}
/* -------------------------------------------btn */





















.cursor-pointer {
    cursor: pointer;
}
.nav-link{
    text-transform: uppercase;
}
.opacity-8{
    opacity: 80%;
}
.opacity-7{
    opacity: 70%;
}
.hero-img{
    background-image: url(../images/webp/t61.png);
    background-repeat: no-repeat;        
}
.blut-line{
    width: 109px;
    height: 2px;
    background-color: var(--blue-line);
}
.snippets{
    top: 32%;
    left: -8%;
}
.snippets1{
    bottom: 13%;
    left: -14%;
}
.snippets2{
    bottom: -7%;
    right: 12%;
}
.snippets3{
    bottom: 30%;
    right: -10%;    
}
.rounded-12{
    border-radius: 12px;
}
.rounded-8{
    border-radius: 8px;
}
.blur-10{
    backdrop-filter: blur(10px);
}
.duration-300{
    transition: all 300ms linear !important;
    
}
.img-shadow{    
    box-shadow: 0px 10px 100px 0px #000000CC;
}
.icon-box{
    height: 64px !important;
    max-width: 64px;
    background-color: #0389FF1A;

}
.box-2{
    padding: 22px 22px 23px;
    border-radius: 10px;
    transition: all 300ms linear !important;
    background: #0389FF1F;
}
 .box-2:hover{
    padding: 17px 15px 35px;


}
.box-2:hover h4{
    color: #0389FF !important;
}
.box-2:hover h5{
    display:  block !important;
    
}
.box-2:hover .icon-box{
    display: flex !important;
} 














/* ------------------------------------------underline */
.underline::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: white;
}

.underline:hover::after {
    width: 100%;
}

/* ------------------------------------------underline */
/* ------------------------------------------navbar */
.hamburger {
    display: none;
}
.nav-boder{
    border-bottom: 1px solid var(--nav-border);
}
@media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100vh;
        gap: 32px;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: red;
    }
}

/* ------------------------------------------navbar */


@media (max-width: 575px) {}

@media (min-width: 575px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1200px) {}

@media (min-width:1200px) {}