@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* -------------------------------------------font-family */
.font-Plus {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.font-poppins{
    font-family: "Poppins", sans-serif;
}

/* -------------------------------------------font-family */
/* -------------------------------------------padding */
.pl-12 {
    padding-left: 12px;
}

.pr-12 {
    padding-right: 12px;
}

.pt-13 {
    padding-top: 13px;
}
.pt-7{
    padding-top: 7px;
}
.pt-19 {
    padding-top: 19px;
}
.pt-25{
    padding-top: 25px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-81 {
    padding-top: 81px;
}

.pt-46 {
    padding-top: 46px;
}
.pt-71{
    padding-top: 71px;
}
.pt-75{
    padding-top: 75px;
}

.pt-82 {
    padding-top: 82px;
}

.pt-102 {
    padding-top: 102px;
}

.pt-130 {
    padding-top: 130px;
}
.pt-174{
    padding-top: 174px;
}
.pt-207{
    padding-top: 207px;
}
.pb-10{
    padding-bottom: 10px;
}

.pb-28 {
    padding-bottom: 28px;
}
.pb-42{
    padding-bottom: 42px;
}
.pb-44 {
    padding-bottom: 44px;
}
.pb-76{
    padding-bottom: 76px;
}
.pb-121{
    padding-bottom: 121px;
}

.pb-134 {
    padding-bottom: 134px;
}

.pb-177 {
    padding-bottom: 177px;
}
.pb-208{
    padding-bottom: 208px;
}

/* -------------------------------------------padding */
/* -------------------------------------------margin */
.mt-9{
    margin-top: 9px !important;
}
.mb-10 {
    margin-bottom: 10px;
}

/* -------------------------------------------margin */
/* -------------------------------------------gap */
.gap-11{
    gap: 11px;
}
.gap-14 {
    gap: 14px;
}

.gap-17 {
    gap: 17px;
}

.gap-22 {
    gap: 22px;
}

.gap-46 {
    gap: 46px;
}

.gap-51 {
    gap: 51px;
}

/* -------------------------------------------gap */
/* -------------------------------------------width */
.max-w-985 {
    max-width: 985px;
}

.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-1210 {
    max-width: 1210px;
}

.max-w-1350 {
    max-width: 1350px;
}

/* -------------------------------------------width */
/* -------------------------------------------btn */
.btn-1 {
    padding: 13px 32px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
    background-image: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border-radius: 40px;
    border: 1px solid transparent;

}

.btn-1 {
    /* flex: 1 1 auto; */
    /* margin: 10px; */
    /* padding: 30px; */
    /* text-align: center; */
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, #0088FF), var(--c2, #0069E3) 60%, var(--c1, white)) var(--x, 0)/ 550%;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    /* box-shadow: 0 0 20px #eee; */
    /* border-radius: 10px; */
}

.btn-5 {
    --c1: red;
    --c2: #0069E3;
}

.btn-1:hover {
    --x: 100%;
    color: #0069E3 !important;
}

/* -------------------------------------------btn */
/* -------------------------------------------card */

.card{
    background: #0389FF1F;
    border-radius: 15px;
    padding: 23px 20px 20px 21px;
    width: 231px;
    height: 228.68px;
}
.card-contant{
    border-radius: 22px;
    border: 1px solid #1A2B37;
    background: #00000054;
    padding: 12px 7px 6px 10px;
    width: 189.36px;
    height: 185.41px;
}
.click-box{
    border: 1px dotted #0389FF;
    border-radius: 5px;
    padding: 9px 7px;
}
.select-box{
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
    padding: 3px 15px;
    border-radius: 44px;
    outline: none;

}
.top-icon{
    /* background: red; */
    border-radius: 103px;
    width: 40px;
    height: 34px;
    border: 1px solid #0389FF33 ;
    display: block;
    top: -17px;
    backdrop-filter: blur(10px);
    right: -20px;

}
.blue-tick{
    padding: 2.5px;
}
.bg-blue{
    background-color: #0389FF;
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}
/* -------------------------------------------card */





















.cursor-pointer {
    cursor: pointer;
}

.nav-link {
    text-transform: uppercase;
}

.opacity-8 {
    opacity: 80%;
}

.opacity-7 {
    opacity: 70%;
}

.hero-img {
    background-image: url(../images/webp/t61.png);
    background-repeat: no-repeat;
}

.blut-line {
    width: 109px;
    height: 2px;
    background-color: var(--blue-line);
}

.snippets {
    top: 32%;
    left: -8%;
}

.snippets1 {
    bottom: 13%;
    left: -14%;
}

.snippets2 {
    bottom: -7%;
    right: 12%;
}

.snippets3 {
    bottom: 30%;
    right: -10%;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-8 {
    border-radius: 8px;
}

.blur-10 {
    backdrop-filter: blur(10px);
}

.duration-300 {
    transition: all 300ms linear !important;

}

.img-shadow {
    box-shadow: 0px 10px 100px 0px #000000CC;
}

.box-1:hover {

    transform: scale(1.1);
}
.img-scale:hover{
    transform: scale(1.1);

}

.icon-box {
    height: 64px !important;
    max-width: 64px;
    background-color: #0389FF1A;

}

.box-2 {
    padding: 22px 22px 23px;
    border-radius: 10px;
    transition: all 300ms linear !important;
    background: #0389FF1F;
}

.box-2:hover {
    padding: 17px 15px 35px;


}

.box-2:hover h4 {
    color: #0389FF !important;
}

.box-2:hover h5 {
    display: block !important;

}

.box-2:hover .icon-box {
    display: flex !important;
}

.box-3 {
    border-radius: 10px;
    padding: 13px 16px;
    max-width: 400px;
    background-color: #0389FF1F;
}

.min-box-3 {
    background-color: #0389FF1F;
    width: 51px;
    height: 51px;
}

.box-3:hover .min-box-3 {
    background-color: #FBFDFF;
}

.box-3:hover h5 {
    color: #FBFDFF;
    opacity: 1;
}

.right-border{
    
    border-right: 1px solid #273239;

} 
.bottom-border{
    border-bottom: 1px solid #273239;

}
.h-170{
    height: 170px;
}
/* ------------------------------------------slider-two */
.slider-box {
    padding: 27px 56px 42px;
    border-radius: 20px;
    background-color: #0389FF1F;    
}
.slider-two .slick-slide {
    margin: 0 12px;
}

.slider-two .slick-list {
    margin: 0 -12px;
}
.slider-two .slick-dots li button:before {
    height: 12px;
    width: 28px;
    background-color: var(--dots);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 21px;    
    color: transparent;
    opacity: 1;
}
.slider-two .slick-dots li.slick-active button:before {
    width: 59px;
    opacity: 1;
    transform: translateX(-90%);
    height: 12px;
    background-color: var(--blue);
}
.slider-img {    
    filter: gray;    
    -webkit-filter: grayscale(1);    
    -webkit-transition: all .2s ease-in-out;
}
.slider-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}
.slick-dots {
    display: flex;
    gap: 7px;
    justify-content: center;
}
/* ------------------------------------------slider-two */
/* ------------------------------------------underline */
.underline::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: white;
}

.underline:hover::after {
    width: 100%;
}

/* ------------------------------------------underline */
/* ------------------------------------------navbar */
.hamburger {
    display: none;
}

.nav-boder {
    border-bottom: 1px solid var(--nav-border);
}

@media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100vh;
        gap: 32px;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: red;
    }
}

/* ------------------------------------------navbar */


@media (max-width: 575px) {}

@media (min-width: 575px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1200px) {}

@media (min-width:1200px) {}